//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//                    Version 2, December 2004
//
// Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>
//
// Everyone is permitted to copy and distribute verbatim or modified
// copies of this license document, and changing it is allowed as long
// as the name is changed.
//
//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
//
//  0. You just DO WHAT THE FUCK YOU WANT TO.

// @package   Sitename
// @link      http://example.com/
// @version   1.0
// @license   WTFPL 2.0, http://sam.zoy.org/wtfpl/
// @copyright Copyleft (c) 2012, Marc Görtz
// @author    Marc Görtz
// @media     all

// @section nib
// @see     https://github.com/visionmedia/nib
@import 'nib'

// @section fonts
@import 'modules/fonts.styl'

// @section normalize
// @see     https://github.com/nulltask/normalize.styl
@import 'vendor/normalize/index.styl'
global-normalize()

// @section variables
@import 'modules/variables.styl'

// @section layout
@import 'modules/layout.styl'

// @section typography
@import 'modules/typography.styl'

// @section lists
@import 'modules/lists.styl'

// @section tables
@import 'modules/tables.styl'

// @section forms
@import 'modules/forms.styl'

// @section helpers
@import 'modules/helpers.styl'

// @section print
@import 'modules/print.styl'
