# EditorConfig helps maintain consistent coding styles across editors and IDEs.
# Learn more: https://EditorConfig.org

# #############################################################################
# # TOP-MOST .EDITORCONFIG FILE                                               #
# #############################################################################
root = true

# #############################################################################
# # ALL FILES                                                                 #
# #############################################################################
[*]
# Use tabs for indentation
indent_style = tab
indent_size = tab
tab_width = 4
# Use Unix-style line endings with a newline at the end of the file
end_of_line = lf
insert_final_newline = true
# Use UTF-8 encoding without BOM
charset = utf-8
# Remove trailing whitespace
trim_trailing_whitespace = true

# #############################################################################
# # .HTACCESS FILES                                                           #
# #############################################################################
[.htaccess]
# Use 4 spaces for indentation to match h5bp server config
indent_style = space
indent_size = 4

# #############################################################################
# # PACKAGE FILES                                                             #
# #############################################################################
[{package,composer}.json]
# The indent size used in the `package.json` file cannot be changed, see
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
indent_style = space
indent_size = 2

# #############################################################################
# # MARKDOWN FILES                                                            #
# #############################################################################
[*.md]
# Preserve trailing spaces for explicit line breaks
trim_trailing_whitespace = false
