//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//                    Version 2, December 2004
//
// Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>
//
// Everyone is permitted to copy and distribute verbatim or modified
// copies of this license document, and changing it is allowed as long
// as the name is changed.
//
//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
//
//  0. You just DO WHAT THE FUCK YOU WANT TO.

// Lists module

// @section unordered-lists
ul
	margin 0 0 .75em
	padding 0
	list-style none

	li
		margin 0 0 1em
		padding 0

// @section definition-lists
dl
	margin 0 0 1em
	overflow hidden

	dt
		float left
		width 12em
		font-weight bold

	dd
		margin: 0 0 0 13em
