//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//                    Version 2, December 2004
//
// Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>
//
// Everyone is permitted to copy and distribute verbatim or modified
// copies of this license document, and changing it is allowed as long
// as the name is changed.
//
//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
//
//  0. You just DO WHAT THE FUCK YOU WANT TO.

// @subpackage Variables module
// @license    WTFPL 2.0, http://sam.zoy.org/wtfpl/
// @copyright  Copyleft (c) 2012, Marc Görtz
// @author     Marc Görtz
// @media      all

// @section fonts
text-copy = FreeSans, Arial, sans-serif
base-size = 16px

// @section text-colors
color-text       = #333
color-link       = #38b
color-link-hover = #f93

// @section background-colors
color-background = #fff

// @section outline-colors
color-border = lighten(color-text, 75%)

// @section button-colors
color-button-1 = #f90
color-button-2 = lighten(color-button-1, 50%)
