/**
 * Abbreviations
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset "utf-8";

abbr[title] {
	text-decoration: none;
	border-bottom: 1px dotted color-mod(var(--color-gray) l(+75%));
	cursor: help;
}
