/**
 * Variables (Custom Properties)
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset "utf-8";

:root {

	--font-stack: "Open Sans", freesans, arial, sans-serif;
	--font-stack-serif: palatino, "Times New Roman", serif;

	--color-gray: #333;
	--color-black: #000;
	--color-white: #fff;
	--color-magenta: #c36;
	--color-blue: #33b3cc;
	--color-red: #c00;

}
