/**
 * Buttons
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset 'utf-8';

button {
	position: relative;
	display: inline-block;
	margin: 0; /* address margins set differently in Firefox 4+, Safari, and Chrome */
	padding: 0.25em 2em;
	border: 2px solid var(--color-magenta);
	border-radius: 100px;
	overflow: visible; /* address `overflow` set to `hidden` in IE 8/9/10/11 */
	font: inherit; /* correct font properties not being inherited */
	text-decoration: none;
	text-align: center;
	text-transform: none; /* correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera */
	color: var(--color-magenta);
	background: var(--color-white);
	cursor: pointer; /* improve usability and consistency of cursor style between image-type `input` and others. */
	appearance: button; /* corrects inability to style clickable `input` types in iOS */
}

/* disabled state */
button[disabled],
button[disabled]:is(:hover, :focus) {
	color: color-mod(var(--color-white) lightness(-25%));
	background: var(--color-white);
	border: 2px solid color-mod(var(--color-white) lightness(-25%));
	cursor: not-allowed;
}

/* removes inner padding and border in FF3+ */
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* selected state */
button:is(:hover, :focus) {
	color: var(--color-white);
	background: var(--color-magenta);
}
