/**
 * Header
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset "utf-8";

/* header */
header {
	display: block; /* correct `block` display not defined in IE 8/9 */
	margin: 0 0 2em;
}

header .logo {
	margin: 2em 0;
	text-align: center;
}
