/**
 * Headlines
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset 'utf-8';

/* headlines */
h1 {
	margin: 0 0 0.5em;
	font: bold 2em/1.3 var(--font-stack-serif);
}

h2 {
	margin: 1em 0 0.6667em;
	font: bold 1.375em/1.3 var(--font-stack-serif);
}

h3 {
	margin: 1.5em 0 1em;
	font: bold 1em/1 var(--font-stack);
}

h4 {
	margin: 1.5em 0 1em;
	font: bold 1em/1 var(--font-stack);
}

/* abbreviations in headlines */
:is(h1, h2, h3, h4) abbr[title] {
	border-bottom: 0;
}

/* page breaks */
@media print {
	h1,
	h2,
	h3,
	h4 {
		page-break-inside: avoid;
	}
}
