/**
 * Images
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset 'utf-8';

/* images */
img {
	color: var(--color-gray);
	background-color: transparent;
	vertical-align: bottom;
	max-inline-size: 100%;
	block-size: auto;
	border: 0; /* remove the border on images inside links in IE 10 */
}

/* images in Google Maps */
.gm-style img {
	max-inline-size: none;
}

/* printed images */
@media print {
	img {
		max-inline-size: 100%; /* prevents images from being cut when they are larger than page width */
	}
}
