/**
 * Links
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset 'utf-8';

/* links */
a:is(:link, :visited, :hover, :focus, :active) {
	-webkit-tap-highlight-color: color-mod(var(--color-magenta) alpha(15%));
	text-decoration: underline;
}

a:is(:link, :visited) {
	color: var(--color-magenta);
	background-color: transparent;
}

a:is(:hover, :focus, :active) {
	color: var(--color-blue);
	background-color: transparent;
}

/* printed links */
@media print {
	a[href] {
		color: var(--color-blue);
		background-color: var(--color-white);
		text-decoration: underline;
	}

	a[href]::after {
		font-size: 80%;
		content: ' (' attr(href) ') ';
	}
}
