/**
 * Links
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset 'utf-8';

/* links */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	-webkit-tap-highlight-color: color-mod(var(--color-magenta) alpha(15%));
	text-decoration: underline;
}

a:link,
a:visited {
	color: var(--color-magenta);
	background-color: transparent;
}

a:hover,
a:focus,
a:active {
	color: var(--color-blue);
	background-color: transparent;
}

/* printed links */
@media print {
	a[href] {
		color: var(--color-blue);
		background-color: var(--color-white);
		text-decoration: underline;
	}

	a[href]::after {
		font-size: 80%;
		content: ' (' attr(href) ') ';
	}
}
