/**
 * Navigation
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset 'utf-8';

/* navigation lists */
nav {
	line-height: 1;
}

nav ul {
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	list-style: none;
}

nav ul li {
	display: table-cell;
	margin: 0;
	padding: 0;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:focus,
nav a:active {
	display: block;
	margin: 0 1em 0 0;
}

/* hidden navigation */
@media print {
	nav {
		display: none;
	}
}
