/**
 * Quotes
 * @project Kickstart
 * @author  Marc Görtz <https://marcgoertz.de/>
 */

@charset "utf-8";

blockquote {
	margin: 0 0 1em;
	padding: 1em 2em;
	border-left: 2px solid color-mod(var(--color-white) l(-25%));
	font-style: italic;
}

blockquote p:last-child {
	margin: 0;
}
