// Copyright (c) 2011–2014 Marc Görtz <http://marcgoertz.de/>
//
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// “Software”), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
// BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
// ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// @subpackage Buttons module
// @license    MIT License <http://www.opensource.org/licenses/mit-license.php>
// @copyright  Copyright (c) 2011–2014 Marc Görtz <http://marcgoertz.de/>
// @author     Marc Görtz <http://marcgoertz.de/>
// @media      all

// @section buttons
button ,
html input[type='button'] ,
input[type='reset'] ,
input[type='submit'] {
	position: relative;
	display: inline-block;
	margin: 0; // address margins set differently in Firefox 4+, Safari, and Chrome
	padding: 0 1em;
	border: 0 none;
	border-radius: 5px;
	overflow: visible; // address `overflow` set to `hidden` in IE 8/9/10/11
	font: inherit; // correct font properties not being inherited
	text-decoration: none;
	text-align: center;
	text-transform: none; // correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera
	color: inherit; // correct color not being inherited
	cursor: pointer; // improve usability and consistency of cursor style between image-type `input` and others.
	-webkit-appearance: button; // corrects inability to style clickable `input` types in iOS

	// focused state
	//&:hover , &:focus {
	//}

	// active state
	//&:active {
	//}

	// disabled button
	&[disabled] {
		cursor: default;
	}

}

button ,
input {

	// removes inner padding and border in FF3+
	&::-moz-focus-inner {
		padding: 0;
		border: 0 none;
	}

}
