//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//                    Version 2, December 2004
//
// Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>
//
// Everyone is permitted to copy and distribute verbatim or modified
// copies of this license document, and changing it is allowed as long
// as the name is changed.
//
//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
//
//  0. You just DO WHAT THE FUCK YOU WANT TO.

// @subpackage Fonts module
// @license    WTFPL 2.0, http://sam.zoy.org/wtfpl/
// @copyright  Copyleft (c) 2012, Marc Görtz
// @author     Marc Görtz
// @media      all

// @section webfont
// @see     http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/
@font-face
	font-family 'Webfont'
	src url('../assets/fonts/webfont.eot')
	src url('../assets/fonts/webfont.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/webfont.woff') format('woff')
	//font-weight normal
	//font-style normal
