// Copyright (c) 2011–2013 Marc Görtz, http://marcgoertz.de/
//
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// “Software”), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
// BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
// ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// @subpackage Forms module
// @license    MIT License
// @copyright  Copyright (c) 2011-2013, Marc Görtz
// @author     Marc Görtz
// @media      all

// @section form-defaults
form {

	legend {
		border: 0 none; // corrects color not being inherited in IE8/9
		color: color-text;
		background: transparent;
		white-space: normal; // corrects text not wrapping in FF3
	}

	input ,
	textarea ,
	select {
		margin: 0;
		font: 1em text-copy
		vertical-align: baseline;
	}

	textarea {
		overflow: auto; // removes default vertical scrollbar in IE8/9
		vertical-align: top; // improves readability and alignment in all browsers
	}

	label {
		display: block;
		font-weight: bold;
		cursor: pointer;

		// to highlight form errors or required form fields
		&[role='alert'] {
			color: color-error;
			background: transparent;
		}

	}

	input[type='checkbox'] ,
	input[type='radio'] {
		padding: 0; // removes excess padding in IE8/9
		box-sizing: border-box; // addresses box-sizing set to content-box in IE8/9

		& + label {
			display: inline; // for labels next to checkboxes or radio boxes
		}

	}

	// disabled elements
	input ,
	textarea ,
	select ,
	button {

		&[disabled] {
			cursor: default;
		}

	}

}

// @section buttons
button ,
.button {

	// basic look and default state
	& ,
	&:link ,
	&:visited ,
	&:hover ,
	&:focus ,
	&:active {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 1em;
		border: 0 none;
		text-decoration: none;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		-webkit-appearance: button; // corrects inability to style clickable `input` types in iOS
		-moz-appearance: button;
		appearance: button;
	}

	// focused state
	//&:hover , &:focus {
	//}

	// active state
	//&:active {
	//}

	// removes inner padding and border in FF3+
	&::-moz-focus-inner {
		padding: 0;
		border: 0 none;
	}

}
