// Copyright (c) 2011–2014 Marc Görtz, http://marcgoertz.de/
//
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// “Software”), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
// BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
// ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// @subpackage Helpers module
// @license    MIT License
// @copyright  Copyright (c) 2011–2014 Marc Görtz, http://marcgoertz.de/
// @author     Marc Görtz
// @media      all

// @section selections
::selection {
	color: invert(color-text);
	background: invert(color-background);
}

::-moz-selection {
	color: invert(color-text);
	background: invert(color-background);
}

// @section browser-update
.browser-update {
	font: bold .75em/2 text-copy;
	text-align: center;
	color: darken(color-text, 100%);
	background: darken(color-background, 25%);

	a {

		&:link ,
		&:visited ,
		&:hover ,
		&:focus ,
		&:active {
			color: darken(color-text, 100%);
			background: transparent;
		}

		&:link ,
		&:visited {
			text-decoration: underline;
		}

		&:hover ,
		&:focus ,
		&:active {
			text-decoration: none;
		}

	}

}

// @section classes
[hidden] {
	display: none;
}

.invisible {
	position: absolute;
	left: -1000em;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.alternate {
	color: lighten(color-text, 50%);
	background: transparent;
	font: italic normal 1em 'Warnock Pro', 'Goudy Old Style', Palatino, 'Book Antiqua', Georgia, serif;
}

.quiet {
	color: lighten(color-text, 50%);
	background: transparent;
}

.kern {
	letter-spacing: -.1em;
}

.clear {
	clear: both;
}
