// Copyright (c) 2011–2014 Marc Görtz <http://marcgoertz.de/>
//
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// “Software”), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
// BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
// ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// @subpackage Hidden Elements module
// @license    MIT License <http://www.opensource.org/licenses/mit-license.php>
// @copyright  Copyright (c) 2011–2014 Marc Görtz <http://marcgoertz.de/>
// @author     Marc Görtz <http://marcgoertz.de/>
// @media      all

// @section templates
template {
	display: none; // hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22
}

// @section hidden-elements
[hidden] ,
[aria-hidden='true'] {
	display: none; // address `[hidden]` styling not present in IE 8/9/10
}

// @section invisible-elements
.invisible {
	position: absolute;
	margin: -1px;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	size(1px, 1px);

	&:focus ,
	&:active {
		position: static;
		margin: 0;
		overflow: visible;
		clip: auto;
		size(auto, auto);
	}

}
