//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//                    Version 2, December 2004
//
// Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>
//
// Everyone is permitted to copy and distribute verbatim or modified
// copies of this license document, and changing it is allowed as long
// as the name is changed.
//
//            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
//   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
//
//  0. You just DO WHAT THE FUCK YOU WANT TO.

// @subpackage Layout module
// @license    WTFPL 2.0, http://sam.zoy.org/wtfpl/
// @copyright  Copyleft (c) 2013, Marc Görtz
// @author     Marc Görtz
// @media      all

// @section root-elements
html {
	color color-text;
	background color-background;
	font: base-size/1.375 text-copy;
	text-rendering: optimizeLegibility;
	quotes: '»' '«' '›' '‹';
	overflow-y scroll; // provides scrollbars to avoid jumping centered layouts
	-webkit-text-size-adjust: 100%; // prevents text size adjust after orientation change
	-ms-text-size-adjust: 100%; // prevents text size adjust after orientation change
}

body {
	position relative;
	margin 0 auto;
	padding 0;
	width 60em;
	max-width 90%; // respond on smaller screens
	color color-text;
	background transparent;
}

// @section main-content
main {
	display: block;
	color: color-text;
	background: color-background;
	overflow: hidden;
}

// @section footer
footer {
	display: block;
	clear: both; // footers should clear all content floats
}
