// Copyright (c) 2011–2014 Marc Görtz, http://marcgoertz.de/
//
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// “Software”), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
// BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
// ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// @subpackage Typography module
// @license    MIT License
// @copyright  Copyright (c) 2011–2014 Marc Görtz, http://marcgoertz.de/
// @author     Marc Görtz
// @media      all

// @section headlines
h1 {
	margin: 0 0 .5em;
	color: lighten(color-text, 25%);
	background: transparent;
	font: normal 2em/1 text-headline;
	text-transform: uppercase;
}

h2 {
	margin: 1em 0 .666666667em;
	color: saturate(color-text, 50%);
	background: transparent;
	font: normal 1.5em/1 text-headline;
	text-transform: uppercase;
}

h3 {
	margin: 1.5em 0 1em;
	color: color-text;
	background: transparent;
	font: bold 1em/1 text-copy;
}

h4 {
	@extend h3;
	color: lighten(color-text, 33%);
	background: transparent;
}

h5 {
	margin: 1.33333333333em 0;
	color: lighten(color-text, 33%);
	background: transparent;
	font: bold .75em/1 text-copy;
	text-transform: uppercase;
}

h6 {
	@extend h5;
}

h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {

	abbr[title] {
		border-bottom: 0 none;
	}

}

// @section paragraphs
p {
	margin: 0 0 1em;
}

address {
	@extend p;
}

// @section quotations
blockquote {
	@extend p;
	padding: 0 1em;
	font-style: italic;
}

q {
	quotes: '»' '«' '›' '‹';
}

// @section links
a {

	&:link ,
	&:visited ,
	&:hover ,
	&:focus ,
	&:active {
		text-rendering: auto;
	}

	&:link ,
	&:visited {
		color: color-link;
		background: transparent;
		text-decoration: underline;
	}

	&:hover ,
	&:focus ,
	&:active {
		color: color-link-hover;
		background: transparent;
		text-decoration: none;
	}

}

// @section abbreviations
abbr[title] {
	border-color: lighten(color-text, 75%);
	cursor: help;
}

// @section sub-sup
sub ,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

// @section code
code {
	color: darken(color-text, 100%);
	background: darken(color-background, 50%);
	padding: 2px 3px;
	border-radius: 3px;
	text-shadow: 0 1px 1px rgba(#fff, .75);
}

pre {
	@extend code;
	font-size: 1em;
	margin: 0 0 2em;
	padding: 1em;
	overflow: auto;
	tab-width: 4;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
